.App {
  margin-left: 100px;
}

.timer-name{
  width: 500px;
  height: 30px;
  margin-left: 50px;
  border-radius: 50px;
  text-align: center;
  font-size: 22px;
  padding: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  position: relative;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: aqua;
  z-index: 1;
}

.arc {
  z-index: 2;
}

/* .fixed-point {
  position: absolute;
  z-index: 3;
}

.movable-point {
  position: absolute;
  z-index: 3;
}

.movable-point:hover{
  cursor: crosshair;
} */

.fixed-point-div {
  position: absolute;
  background-color: blue;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 3;
  /* left: 50%;
  top: 250px; */
  transform: translate(285px, 35px);
}

.movable-point-div {
  position: absolute;
  background-color: blue;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 3;
  /* left: 50%;
  top: 250px; */
  /* transform: translate(285px, 285px); */
}

.movable-point-div:hover{
  cursor: grab;
}

.button {
  position: relative;
  top: 600px;
  z-index: 10;
  background-color: tomato;
  height: 30px;
  width: 50px;
  text-align: center;
  color: white;
  padding: 3px;
  transform: translate(275px, -30px);
}

.button:hover{
  cursor: pointer;
}

.time-display{
  position: absolute;
  z-index: 4;
  font-size: 50px;
  letter-spacing: 6px;
  /* margin: auto; */
  transform: translate(239px, 268px);
  /* transform: translate(-50px, -50px); */
}

.time-display-static:hover{
  cursor: pointer;
}

.manualInput-container-outer{
  position: absolute;
  /* top: 300px;
  left: 300px; */
  z-index: 5;
  width: 162px;
  display: none;
  font-size: 50px;
  transform: translate(229px, 268px);

}

.manualInput-container{
  display: flex;
  /* justify-content: space-between; */
}

.input {
  font-size: 50px;
  width: 30px;
}